<h1> Productos en carrito</h1>

<h2 id="userName" >{{user.name}}</h2>
<p>Nro de carrito: <span id="userCartId">{{user.cartId}}</span> </p>
<p>Nro de usuario: <span id ='userId'> {{user.id}}</span>  </p>
<p>Mail del usuario: <span id="userEmail" >{{user.email}}</span> </p>

<hr>
<button  class="btn btn-primary btn-sm" id="sendMail">Enviar Pedido</button>
<br>
<br>
<button  class="btn btn-primary btn-sm" id="returnCart">Volver a productos</button>
<script src="/js/cart.js"></script>

