<div class="container">
     <br>
     <h2>Login de usuario</h2>
     <form id="loginForm">
          <label class="form-label">Ingrese su mail</label>
          <input id="email" name="email" class="form-control">
          <br>
          <label class="form-label">Password</label>
          <input type="password" name="password" class="form-control">
          <br>
          <input type="submit" class="btn btn-primary">
     </form>
     <br>
     <a href="/register">
        <input type=" button" class="btn btn-primary btn-sm" value="Ir a Register">
     </a>
     <br>
     <a href="/">Inicio</a>
</div>

<script src="js/login.js"></script>